@model XmasShop.Domain.Entities.Cart

<div id="chekout" class="text-dark">
    <span>
        In your cart: <span class="wow jello badge badge-primary badge-pill">
            @Model.Lines.Sum(x => x.Quantity)
        </span> item(s)
        @Model.ComputeTotalValue().ToString("c")
    </span>
    @Html.ActionLink("Checkout", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-primary rounded-0 btn-sm" })
</div>
@*<div class="navbar-text navbar-right">
        <b>Your cart:</b>
        @Model.Lines.Sum(x=>x.Quantity) item(s),
        @Model.ComputeTotalValue().ToString("c")
    </div>*@
